@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Montserrat:wght@300;400;600&display=swap");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*-----------------------------------*/
html {
  background: url(../images/bg.png) no-repeat center center fixed;
  background-size: cover;
}

body {
  color: #FFFFFF;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.wrapper {
  background: rgba(12, 20, 47, 0.85) no-repeat center center fixed;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

._container {
  margin: 0 auto;
}

.header__logo {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin: 50px 0 0 0;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.header__logo span {
  color: #d6d600;
}

/*------------------------------------------*/
.loginForm {
  margin-top: 200px;
  text-align: center;
  width: 100%;
}

.loginForm__title {
  font-size: 45px;
  font-weight: 600;
  margin-bottom: 20px;
}

.loginForm__subtitle {
  font-size: 20px;
  margin-bottom: 30px;
}

.input {
  max-width: 600px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.input__wrap {
  position: relative;
}

.input__login {
  background: url(/images/login.png) no-repeat right;
  background-position-x: 10px;
  width: 60%;
  color: #FFFFFF;
  padding: 15px 10px 15px 40px;
  margin-bottom: 15px;
  background-color: #202743;
  border-radius: 7px;
}

.input__login::-webkit-input-placeholder {
  color: #495172;
}

.input__login:-ms-input-placeholder {
  color: #495172;
}

.input__login::-ms-input-placeholder {
  color: #495172;
}

.input__login::placeholder {
  color: #495172;
}

.input__email {
  background: url(/images/email.png) no-repeat right;
  background-position-x: 10px;
  width: 60%;
  color: #FFFFFF;
  padding: 15px 10px 15px 40px;
  margin-bottom: 15px;
  background-color: #202743;
  border-radius: 7px;
}

.input__email::-webkit-input-placeholder {
  color: #495172;
}

.input__email:-ms-input-placeholder {
  color: #495172;
}

.input__email::-ms-input-placeholder {
  color: #495172;
}

.input__email::placeholder {
  color: #495172;
}

.input__error {
  position: absolute;
  display: inline-block;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7b7b), to(#FC4E4E));
  background: linear-gradient(180deg, #ff7b7b 0%, #FC4E4E 100%);
  -webkit-box-shadow: inset 0px 0px 24px #FC4E4E;
          box-shadow: inset 0px 0px 24px #FC4E4E;
  border-radius: 8px;
  margin: 0 0 0 20px;
  width: 200px;
  height: 46px;
  padding: 8px 15px;
  text-align: left;
}

.input__password {
  background: url(/images/password.png) no-repeat right;
  background-position-x: 10px;
  width: 60%;
  color: #FFFFFF;
  padding: 15px 10px 15px 40px;
  margin-bottom: 15px;
  background-color: #202743;
  border-radius: 7px;
}

.input__password::-webkit-input-placeholder {
  color: #495172;
}

.input__password:-ms-input-placeholder {
  color: #495172;
}

.input__password::-ms-input-placeholder {
  color: #495172;
}

.input__password::placeholder {
  color: #495172;
}

.input__password_forget {
  display: inline-block;
  width: 275px;
  text-align: right;
  margin-bottom: 15px;
}

.input #wrongLogin {
  visibility: hidden;
}

.input #wrongPassword {
  visibility: hidden;
}

.input #takenLogin {
  visibility: hidden;
}

.input #takenEmail {
  visibility: hidden;
}

.input__button {
  color: #292929;
  display: block;
  font-weight: 600;
  margin: 0 auto;
  width: 60%;
  padding: 18px 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#EFC403), to(#FFDC41));
  background: linear-gradient(180deg, #EFC403 0%, #FFDC41 100%);
  -webkit-box-shadow: inset 0px 0px 24px #FFE677;
          box-shadow: inset 0px 0px 24px #FFE677;
  border-radius: 8px;
  margin-bottom: 15px;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

.input__button:hover {
  opacity: 0.8;
}

.input__button:active {
  opacity: 0.8;
  -webkit-box-shadow: inset 0px 0px 10px #a7974d;
          box-shadow: inset 0px 0px 10px #a7974d;
}

a {
  color: #757EA5;
  text-decoration: underline;
  -webkit-transition: all ease-in-out 0.1s;
  transition: all ease-in-out 0.1s;
}

a:hover {
  color: #5b617f;
}

/*----------------------------------------------*/
.form-control {
  -webkit-transition: none;
  transition: none;
  width: 32px;
  height: 32px;
  text-align: center;
}

.form-control:focus {
  color: #3F4254;
  background-color: #495172;
  border-color: #884377;
  outline: 0;
}

.form-control.form-control-solid {
  background-color: #202743;
  border: 1px solid;
  border-color: #495172;
  color: #FFFFFF;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.form-control.form-control-solid:active,
.form-control.form-control-solid.active,
.form-control.form-control-solid:focus,
.form-control.form-control-solid.focus {
  background-color: #495172;
  border: 0px;
  border-color: #495172;
  -webkit-transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, -webkit-box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease;
  transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

/*-----------------------------*/
